<p-table [value]="items" [columns]="itemsColumns">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <!-- go to detail -->
                <button pButton type="button" icon="pi pi-search" (click)="goToDetail(rowData)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
